<html>
<head>
    <title>Freeformz</title>
</head>
<body>
    <h4>You are the best!</h4>
    The form has been successfully saved. Check the code below to include it in your site.
    <br />
    <br />
    Copy and paste the code below in your site. <br />All the e-mails from this contact form will be sent to <em>{{ email }}</em>.
    <br />
    <br />
    -----------------------------------------------------------------
    <br />
    {% filter escape %}
        <iframe src="http://{{ server }}/form/{{ code }}/{{ hash }}" width="500px" height="{{ height }}px" frameborder="0"></iframe>
    {% endfilter %}
    <br />
    -----------------------------------------------------------------
    <br />
    <br />
    You are receiving this e-mail message because you have registered a contact form at <a href="http://www.freeformz.net">www.freeformz.net</a>
</body>
</html>